circle.node {
    stroke: #FFFFFF;
    stroke-width: 1.5px;
}

circle.node.selected {
    stroke: #000000;
    stroke-width: 2.5px;
}
line.edge {
    stroke: #999999;
    stroke-opacity: 0.6;
}
line.edge.selected {
    stroke: #000000;
}