@()

@import play.api.i18n._

@main(play.api.Play.current.configuration.getString("application.name").get/*, request.username*/) {

  <form>
      <fieldset>
          <div class="clearfix">
            <div class="input">
                <input type="text" name="name" placeholder="Enter a company name" class="xlarge" />
                <input type="submit" class="btn primary"/>
            </div>


          </div>
      </fieldset>
  </form>
  <script type="text/javascript">
      $('input[name=name]').autocomplete({
          source:function (term, callback) {
              jsRoutes.controllers.LinkedIn.companies(term.term).ajax({
                  success:function (data) {
                      if (data.companies._total > 0) {
                          callback(data.companies.values.map(function (company) {
                              return {
                                  value:company.name
                              }
                          }))
                      }
                  }
              });
          }
      });
      $('form').submit(function () {
          window.location = jsRoutes.controllers.Application.company($(this).find('input').val()).url;
          return false;
      });
  </script>
}
