@(domain:String,companies:List[Company])(
/* implicit
    errors:Map[String,play.api.data.validation.ValidationError]
*/ )

@import play.api.i18n._
@import controllers._
@import play.api.data.validation._

@main(Messages("import.linkedin")) {

<div class="row">
  <div class="span12">
    <h1>@Messages("import.linkedin")</h1>

    <p>@Messages("import.linkedin.domain", domain)</p>

    @if(companies.isEmpty) {
      <div class="alert-message block-message error">
        <a href="#" class="close">×</a>

        <p><strong>No result found!</strong> Change this and that and try again.</p>
        <ul>
          <li>Maybe your company does not exist on LinkedIn.</li>
          <li>Your company email domain is not registrered on LinkedIn company profile.</li>
          <li>Your email domain does not refer to your company name.</li>
        </ul>
        <div class="alert-actions">
          <a href="#" class="btn small">Take this action</a> <a href="#" class="btn small">Or do this</a>
        </div>
      </div>
    } else {
        @Messages("import.linkedin.company.label")
        <table class="bordered-table zebra-striped">
        @companies.map { c =>
            <tr>
                <td>@c.name</td>
                <td><a href="@routes.Application.company(c.name)" class="btn primary">Choose</a></td>
            </tr>
        }
        </table>
    }
  </div>
</div>

}

