@(pager:models.PeoplePager, company:String)

@import play.api.i18n._
@import scala.math._


@main(Messages("import.linkedin")) {

	<div class="row">
        <div class="page-header">
            <h1>@Messages("import.linkedin",company) <small></small></h1>
        </div>
		<div class="span12">

			@if(pager.values.isEmpty) {
				<div class="empty">
					<p>No users.</p>
				</div>
			} else {
				<table class="zebra-striped" id="peopleTable">
					<thead>
						<tr>
							<th class="header"><input type="checkbox" id="select-all-checkbox"></th>
							<th class="header">FirstName</th>
							<th class="header">LastName</th>
						</tr>
					</thead>
					<tbody>
					@pager.values.map{ user =>
					<tr>
						<td><input type="checkbox" class="select-checkbox" value="@user.id" @if(user.firstName.equalsIgnoreCase("private") || user.lastName.equalsIgnoreCase("private")) {disabled="true"}></td>
						<td>@user.firstName</td>
						<td>@user.lastName</td>
					</tr>
					}
					</tbody>
				</table>

				<div class="pagination">
					<ul>
                        @if(pager.start < 1) {
                            <li class="prev disabled"><a href="#">&larr; Previous</a></li>
                        }
						@for(i <- (0 to ceil(pager.total / pager.count).toInt)) {
							<li @if(pager.start == i + 1 ) {class="active"}><a href="#">@(i+1)</a></li>
						}
                        @if(pager.start < pager.total ) {
                            <li class="next"><a href="#">Next &rarr;</a></li>
                        }
					</ul>
				</div>

			    <script src="@routes.Assets.at("javascripts/linkedin/people-import.js")" type="text/javascript"></script>
            }
		</div>
        <div class="span4">
            <form method="POST">
                <input id="people-ids" type="hidden" name="people"/>
                <input id="company-name" type="hidden" name="company" value="@company"/>
                <input type="submit" class="btn primary" value="@Messages("import.linkedin.button.analyse")"/>
            </form>
        </div>

	</div>
}


