@()(implicit flash:Flash)

@import play.api.i18n._
@import controllers._


@main(Messages("import.linkedin")) {
	@if(flash.get("error")) {
		<div class="alert-message error" data-alert="alert">
			<a class="close" href="#">×</a>

			<p><strong>@flash.get("error")</strong></p>
		</div>
	}
	<div class="row">
		<div class="span12">
			<h1>@Messages("import.linkedin.login")</h1>

			<p>@Messages("import.linkedin.desc")</p>
			<a class="btn large primary"
			   href="@routes.Authentication.authenticate">@Messages("import.linkedin.button")</a>
		</div>
	</div>

}
