@(name:String, reportID:String)

@import play.api.i18n._
@import scala.math._


@main(title = Messages("reports.show.header", name + " " +reportID)) {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/graph.css")">
<script src="@routes.Assets.at("javascripts/d3.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/d3.layout.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/d3.geom.min.js")" type= "text/javascript"></script>
<script src="@routes.Assets.at("javascripts/reports/show.js")" type="text/javascript"></script>


<div class="row">
    <div class="span4">
        <h2>@Messages("reports.show.desc.title")</h2>
        <div>
            <p></p>
        </div>

        <h2>@Messages("reports.show.meta.title")</h2>
        <div id="metadata-container">
            <ul class="unstyled">
            </ul>
        </div>
        <h2>@Messages("reports.show.legend.title")</h2>
        <div id="legend-container">
            <p>Comming soon</p>
        </div>
        <h2>@Messages("reports.show.details.title")</h2>
        <div id="details-container">
            <p>@Messages("reports.show.details.desc")</p>
        </div>
        <!--<div id="spin-container"></div>-->
    </div>
    <div class="span12">
        <div id="chart" data-id="@reportID" class="span12"/>
    </div>
</div>
}


