@(skillSet:PeopleSkills)

@import play.api.i18n._
@import controllers._
@import play.api.data.validation._

@main(Messages("import.linkedin")) {

  <div class="row">
	  <div class="span12">
		  <h1>@Messages("import.linkedin")</h1>



	  </div>
  </div>

}
